$text-opacity: 0.8;

#work {
  background-color: rgb(255, 168, 61);
  position: relative;
}

a {
  color: black;
  text-decoration: none;
}

.icon-cancel {
  position: fixed;
  float: right;
  right: 1.786vw;
  top: 1.191vw;
  z-index: 2;
  opacity: 0;

  a {
    font-size: 50px;
    opacity: $text-opacity !important;
    transition: 0.5s ease-in-out;

    &:hover {
      color: white !important;
    }
  }
}

#container {
  min-height: 100vh;
  width: 100%;
  text-align: center;
  font-size: 5.952vw;
  padding-top: 5.952vw;
  padding-bottom: 14.881vw;
  transition: transform 0.25s;
  will-change: transform;

  #content {
    opacity: 0;

    .page-title {
      text-align: center;
      margin-bottom: 7.143vw;
      font-size: 4.167vw;
      text-transform: capitalize;
      text-decoration: underline;
      opacity: $text-opacity;
    }

    a {
      display: inline-block;
      margin-bottom: 60px;
      text-transform: capitalize;
      opacity: $text-opacity;
      transition-property: opacity, color;
      transition-duration: 0.8s, 0.8s;
    }
  }
}

.underlay {
  position: fixed;
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;

  .img-container {
    width: 50%;
    height: 50%;
    background: transparent;
    
    img {
      width: 100%;
      height: 100%;
      object-position: center;
      object-fit: cover;
      opacity: 0;
    }
  }
}

@media screen and (max-width: 1024px) {
  .icon-cancel a {
    font-size: 40px;
  }

  #container {
    #content a {
      margin-bottom: 50px;
    }  
  }
}

@media screen and (max-width: 640px) {
  .icon-cancel {
    right: 12px;
    top: 10px;

    a {
      font-size: 35px;
    }
  }

  #container {
    padding-top: 70px;
    padding-bottom: 0px;
    font-size: 6.9vw;

    #content {
      .page-title {
        font-size: 5.8vw;
      }

      a {
        margin-bottom: 30px;
      }
    }
  }
}

@media screen and (max-width: 480px) {
  #container #content {
    font-weight: 500;
  }
}